<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6" id="top_text">
        <h2>DIVE07課題</h2>
        <p>twitter風アプリケーション</p>
          <div id="twitter_bird"><img src="<%= asset_path "tweets_mark.png" %>">
        <p>本アプリはDIVE07_EXAM1用に作成されたアプリとなります。
      </div>
    </div>
    <div class="col-sm-5">
    <h2>ログイン</h2>
      <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
        <input type="hidden" name="authenticity_token" value="YpsqkbfPsU6o9j/19gHpLalLhGLyie56PbG3klYwfpN8+heVSTYVb4186QGAF73gQPvRAjeOehZSjmr22e3lxg==" />
          <div class="field">
            <input autofocus="autofocus" class="form-control" placeholder="メールアドレス" type="email" value="" name="user[email]" id="user_email" />
          </div>
          <div class="field">
            <input autocomplete="off" class="form-control" placeholder="パスワード" type="password" name="user[password]" id="user_password" />
          </div>
          <div class="field">
            <input name="user[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />
            <label for="user_内容を記憶させる">内容を記憶させる</label>
          </div>
          <div class="actions">
            <input type="submit" name="commit" value="ログイン" class="btn btn-primary btn-block" />
          </div>
      </form>
    </div>
</section>

  <footer>
    <p>運営会社DIVE INTO CODE株式会社</p>
    <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
  </footer>